# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Dependencies (not used yet, but reserved)
node_modules/

# Environment
.env
.env.local
